* {
  font-family: 'Lilita One';
  -webkit-text-stroke: 1px black;
}

:root {
  --red: rgb(228, 31, 29);
  --yellow: rgb(236, 167, 29);
  --green: rgb(14, 173, 8);
  --lightblue: rgb(47, 97, 174);
  --blue: rgb(35, 57, 101);
  --darkblue: rgb(13, 26, 50);
}

.app-container {
  min-height: 100vh;
  background: var(--darkblue);
}

.navigation {
  background: var(--darkblue);
  border-bottom: 3px solid white;
}

main {
  background: var(--blue);
  color: white;
}

.content-container {
  background: var(--darkblue);
  border: 2px solid white;
}

/* Home */

/* Brawlers */

/* Brawler */

.star-power-label {
  color: var(--yellow);
}

.gadget-label {
  color: var(--green);
}

/* Events */

/* Game Modes */

.footer {
  background: var(--darkblue);
  border-top: 3px solid white;
  color: white;
  text-align: center;
}

.footer a,
.footer a:hover {
  color: var(--yellow);
}
